@model assignment1.Models.Incident

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Incident</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IncidentId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer" class="control-label"></label>
                <select asp-for="Customer">
                    <option value="">Select a customer</option>
                @foreach (Customer customer in ViewBag.Customers)
                {
                    <option value="@customer.CustomerId">@customer.Name</option>
                }
                </select>
                <span asp-validation-for="Customer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product" class="control-label"></label>
                <select asp-for="Product">
                    <option value="">Select a product</option>
                @foreach (Product product in ViewBag.Products)
                {
                    <option value="@product.ProductCode">@product.Name</option>
                }
                </select>
                <span asp-validation-for="Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Technician" class="control-label"></label>
                <select asp-for="Technician">
                    <option value="">Select a technician</option>
                @foreach (Technician technician in ViewBag.Technicians)
                {
                    <option value="@technician.TechnicianId">@technician.Name</option>
                }
                </select>
                <span asp-validation-for="Technician" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOpened" class="control-label"></label>
                <input asp-for="DateOpened" class="form-control" />
                <span asp-validation-for="DateOpened" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateClosed" class="control-label"></label>
                <input asp-for="DateClosed" class="form-control" />
                <span asp-validation-for="DateClosed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
