@model IEnumerable<assignment1.Models.Incident>

@{
    ViewData["Title"] = "Incidents";
}

  <div class="jumbotron jumbotron-fluid">
  <div class="container">
     <img src="https://img.icons8.com/external-fauzidea-gradient-fauzidea/64/000000/external-sport-back-to-school-fauzidea-gradient-fauzidea.png"   style="width:50px; margin: 10px auto; display:block;"/>
    <h1 class="title-custom display-4">INCIDENTS</h1>
    <p class="lead" style="text-align:center;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
  </div>
</div>

<p>
    <a class="btn btn-primary btn-md" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.CustomerId)</th>
            <th>@Html.DisplayNameFor(model => model.Product)</th>
            <th>Date Opened</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@item.Title</td>
            <td>@item.CustomerId</td>
            <td>@item.ProductCode</td>
            <td>@item.DateOpened</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IncidentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IncidentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IncidentId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
