@using assignment1.Controllers
@model assignment1.ViewModels.IncidentViewModel
@{
    ViewData["Title"] = Model.PageTitle;
}
<div class="jumbotron jumbotron-fluid" data-aos="fade-in  ">
    <div class="container" data-aos="fade-in  " data-aos-delay="200" data-aos-duration="1500">
        <img src="https://img.icons8.com/external-fauzidea-gradient-fauzidea/64/000000/external-sport-back-to-school-fauzidea-gradient-fauzidea.png"
            style="width:50px; margin: 10px auto; display:block;" />
        <h1 class="title-custom display-4">INCIDENTS</h1>
        <p class="lead" style="text-align:center;">The application should display the Incident Manager page when the
            user completes or cancels an operation for
            adding, editing, or deleting an incident.</p>
    </div>
</div>

<div class="container">
    @if (TempData["AlertMessage-successful"] != null)
    {
        <div class="alert alert-success">
            @TempData["AlertMessage-successful"]
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
        </div>
    }

    @if (TempData["AlertMessage-important"] != null)
    {
        <div class="alert alert-info">
            @TempData["AlertMessage-important"]
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
        </div>
    }
    @if (TempData["AlertMessage-delete"] != null)
    {
        <div class="alert alert-danger">
            @TempData["AlertMessage-delete"]
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
        </div>
    }
    <br />

    <div class="menu_wrap">
        <div>
            <a class="btn btn-primary btn-md" asp-action="Create">Create New</a>
        </div>
        <div class="incident_side_menu">
            <!-- Filters for the table, we'll want to sort by all, unassigned, and open incidents. We will default to all -->
            <div class="button_wrap">
            <a
                class='btn btn-primary'
                style="margin-left:0.5rem"
                asp-controller="Incidents"
                asp-action="Index"
                asp-route-filter="all"
            >
                All
            </a>
            </div>
            <a
                class='btn btn-primary btn-md'
                style="margin-left:0.5rem"
                asp-controller="Incidents"
                asp-action="Index"
                asp-route-filter="unassigned"
            >
                Unassigned
            </a>

            <a
                class='btn btn-primary btn-md '
                style="margin-left:0.5rem"
                asp-controller="Incidents"
                asp-action="Index"
                asp-route-filter="open"
            >
                Open
            </a>

        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Customer</th>
                <th>Product</th>
                <th>Technician</th>
                <th>Date Opened</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop thru incidents and display the ones that match the filter -->
            @foreach (var item in Model.Incidents)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Customer.Name</td>
                    <td>@item.Product.Name</td>
                    <td>@(item.TechnicianId is not null ? item.Technician.Name : "N/A")</td>
                    <td>@item.DateOpened</td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.IncidentId">Edit</a>
                        <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.IncidentId">Details</a>
                        <a class="btn btn-primary btn-sm" asp-action="Delete" asp-route-id="@item.IncidentId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
