@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SportsPro Technical Support</h1>
    <h3>Sports management software for the sports enthusiast</h3>
<table class="justBasicTable">
    <tbody>
        <tr>
            <th>
                <h2>Admin</h2>
            </th>
        </tr>
        <tr>
            <td>
                <a href="@Url.Content("~/products")">Manage Products</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="@Url.Content("~/technicians")">Manage Technicians</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="@Url.Content("~/customers")">Manage Customer</a>
            </td>
        </tr>
        <tr> 
            <td>
                <a href="@Url.Content("~/incidents")">Manage incidents</a>
            </td>
        </tr>
        <tr>
            <th>
                <h2>Technicians</h2>
            </th>
        </tr>
        <tr>
            <td>
                 <a href="@Url.Content("~/incidents")">Update Incidents</a>
            </td>
        </tr>
    </tbody>        
</table> 
</div>
