@model IEnumerable<assignment1.Models.Product>

@{
    ViewData["Title"] = "Products Page";
}

<h1>Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Product Code
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Yearly Price
            </th>
            <th>
                Release Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearlyPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<button type="button">
    <a asp-action="Create">Create New</a>
</button>