@model IEnumerable<assignment1.Models.Product>

@{
    ViewData["Title"] = "Products Page";
}
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
     <img src="https://img.icons8.com/external-fauzidea-gradient-fauzidea/64/000000/external-sport-back-to-school-fauzidea-gradient-fauzidea.png"   style="width:50px; margin: 10px auto; display:block;"/>
    <h1 class="title-custom display-4">PRODUCTS</h1>
    <p class="lead" style="text-align:center;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
  </div>
</div>

<div class="container">
    <p>
    <a class="btn btn-primary btn-md" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Product Code
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Yearly Price
            </th>
            <th>
                Release Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearlyPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.ProductCode">Edit</a> 
                <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.ProductCode">Details</a> 
                <a class="btn btn-primary btn-sm" asp-action="Delete" asp-route-id="@item.ProductCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>

